<div class="jtk-demo-canvas canvas-wide statemachine-demo jtk-surface jtk-surface-nopan" id="canvas">
    <div class="w" id="opened">BEGIN
        <div class="ep" action="begin"></div>
    </div>
    <div class="w" id="phone1">PHONE INTERVIEW 1
        <div class="ep" action="phone1"></div>
    </div>
    <div class="w" id="phone2">PHONE INTERVIEW 2
        <div class="ep" action="phone2"></div>
    </div>
    <div class="w" id="inperson">IN PERSON
        <div class="ep" action="inperson"></div>
    </div>
    <div class="w" id="rejected">REJECTED
        <div class="ep" action="rejected"></div>
    </div>
</div>
